
<div>
  <table class="table table-responsive bg-light border">
    <thead>
      <tr class="bg-dark text-light">
        <th>User Name</th>
        <th> Email</th>
        <th>Phone Number</th>
        <th>Country</th>
        <th>ِAction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

        <td scope="row">{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.country}}</td>
        <td><button type="button" class="btn btn-primary btn-sm" (click)="edit(user.id)">Edit</button></td>
      </tr>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
