<form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="text-center mb-4">
    <img class="mb-4"
      src="https://e7.pngegg.com/pngimages/776/561/png-clipart-computer-icons-internet-domain-name-cinema-logo-television-angle.png"
      alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
  </div>
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="succsMsgReg ">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>You have been successfully registered :)</strong>
  </div>
  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email"
      [class.is-invalid]="
        this.registerForm.get('email')?.invalid &&
        registerForm.get('email')?.touched
      " [class.is-valid]="
        this.registerForm.get('email')?.valid &&
        this.registerForm.get('email')?.touched
      " (blur)="isEmailExist()"  (keyup)="isEmailExist()"/>
    <label for="inputEmail">Email address</label>
    <span class="text-danger" *ngIf="
        registerForm.get('email')?.invalid && registerForm.get('email')?.touched
      ">Please enter valid email</span>
    <div class="valid-feedback" *ngIf="!isEmailExistOp">Looks good!</div>
    <div class="text-danger" *ngIf="isEmailExistOp">Email is exist</div>
  </div>
  <div class="form-label-group">
    <input type="email" id="inputuser" class="form-control" placeholder="User Name" formControlName="userName"
      [class.is-invalid]="
        this.registerForm.get('userName')?.invalid &&
        registerForm.get('userName')?.touched
      " [class.is-valid]="
        this.registerForm.get('userName')?.valid &&
        this.registerForm.get('userName')?.touched &&
        !isUserExistOp
      " (blur)="isUserExist()" (keyup)="isUserExist()"/>
    <label for="inputEmail">User Name</label>

    <span class="text-danger" *ngIf="
        registerForm.get('userName')?.invalid &&
        registerForm.get('userName')?.touched
      ">Please enter valid User Name</span>
    <div class="valid-feedback" *ngIf="!isUserExistOp">Looks good!</div>

    <div class="text-danger" *ngIf="isUserExistOp">User name is exist</div>
  </div>

  <div class="form-label-group">
    <input [readonly]="!!isUserExistOp || !!isEmailExistOp" type="password" id="inputPassword" class="form-control"
      placeholder="Password" required="" formControlName="password" [class.is-invalid]="
        this.registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched
      " [class.is-valid]="
        this.registerForm.get('password')?.valid &&
        this.registerForm.get('password')?.touched
      " />
    <label for="inputPassword">Password</label>
    <!-- <span class="text-danger" *ngIf="
        registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched
      ">Please enter valid Password
    </span> -->
    <div class="invalid-feedback">Please enter valid Password</div>
    <span class="text-danger" *ngIf="registerForm.get('password')?.errors?.minLength">Please enter 6 Char</span>
    <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="form-label-group">
    <input [readonly]="!!isUserExistOp || !!isEmailExistOp" type="password" id="ConfirmPassword" class="form-control"
      placeholder="ConfirmPassword" required="" formControlName="ConfirmPassword" [class.is-invalid]="
        this.registerForm.get('ConfirmPassword')?.invalid &&
        registerForm.get('ConfirmPassword')?.touched
      " [class.is-valid]="
        this.registerForm.get('ConfirmPassword')?.valid &&
        this.registerForm.get('ConfirmPassword')?.touched
      " />
    <label for="ConfirmPassword">Confirm Password</label>
    <!-- <span class="text-danger" *ngIf="
        registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched
      ">Please enter valid Password
    </span> -->
    <div class="invalid-feedback">Please enter valid Password</div>
    <span class="text-danger" *ngIf="registerForm.get('ConfirmPassword')?.errors?.minLength">Please enter 6 Char</span>
    <div class="valid-feedback">Looks good!</div>

    <div *ngIf="!validateConfirmPassword()" class="alert alert-danger mt-3" role="alert">
      Please Confirm Password
    </div>
  </div>

  <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="
      registerForm.invalid ||
      !validateConfirmPassword() ||
      isUserExist() &&
      isEmailExist()
    ">
    Register Now
  </button>

  <div *ngIf="errorMsg || error1" class="alert alert-danger mt-3" role="alert">
    {{ errorMsg }}  {{errorMSG}}
  </div>

  <!-- <div class="alert alert-primary" role="alert">
    <strong
      >User name is :{{ this.registerForm.get("email")?.value }}+{{
        this.registerForm.get("email")?.valid
      }}
    </strong>
  </div> -->


</form>


