<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a (click)="UserListClick()" style="cursor: pointer;">Users List</a>
          </li>
          <li>
            <a (click)="AddUserClick()" style="cursor: pointer;">Add User</a>
          </li>
          <li>
            <a (click)="ShowEditUserComponent()" style="cursor: pointer;">Edit Roles</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a style="cursor: pointer;" (click)="ShowCategory()">Category List</a>
          </li>
          <li>
            <a style="cursor: pointer;">Add Category</a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="ShowSubCat()">Sub Category List</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#actor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actors</a>
        <ul class="collapse list-unstyled" id="actor">
          <li>
            <a style="cursor: pointer;" (click)="showActorList()">Actor List</a>
          </li>


        </ul>
      </li>
      <!-- <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a >Page 1</a>
          </li>
          <li>
            <a >Page 2</a>
          </li>
          <li>
            <a >Page 3</a>
          </li>
        </ul>
      </li> -->

    </ul>


  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>


      </div>
    </nav>

    <h2>Admin</h2>
    <div class="alert alert-primary" role="alert">
      <strong>User List</strong>
      <div>
        <button type="button" class="btn btn-success" (click)="AddUserClick()"> Add new User</button>
      </div>
    </div>


    <div class="container1">
      <div *ngIf="isUserListShow">
        <app-users></app-users>

      </div>
      <div *ngIf="isAddUserShow">
        <app-add-user></app-add-user>

      </div>

      <div *ngIf="isShowEditUserComponent">
        <app-users-role></app-users-role>

      </div>
      <div *ngIf="isCategoryShow">
        <app-category-list></app-category-list>

      </div>
      <div *ngIf="isSubCatShow">
        <app-sub-category-list></app-sub-category-list>

      </div>
      <div *ngIf="isActorListShow">

<app-actor-list></app-actor-list>
      </div>
    </div>
  </div>
</div>
